@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(60, 154, 241);
    font: normal 15pt arial;
}
header{
    text-align: center;
    padding-top: 50px;
    color: white;
    margin: 20px;
}
section{
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.377);
    
}
div{
    text-align: center;
    padding: 10px;
}
footer{
    margin: 20px;
    color: white;
    text-align: center;
    font-style: italic;
}